#home {
  margin: 60px 0;
  .home {
    display: flex;
    align-items: center;
    gap: 140px;
    flex-wrap: wrap;

    &--empty {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60vh;
    }
  }
}
